<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="http://localhost:8080/" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>请登录</h1>
    <form action="/user/login" method="post">
        <table>
            <tr><td>用户名</td><td><input type="text" name="username" /></td></tr>
            <tr><td>密码</td><td><input type="text" name="password" /></td></tr>
        </table>
        <input type="submit" value="登录" />
    </form>
    <a href="/user/toFind">忘记密码</a>
</body>
</html>